[submodule "latex-protocol"]
	path = latex-protocol
	url = git@github.com:TGM-HIT/latex-protocol.git
	branch = master
[submodule "diploma-thesis"]
	path = diploma-thesis
	url = git@github.com:TGM-HIT/diploma-thesis.git
	branch = master
[submodule "latex-projects"]
	path = latex-projects
	url = git@github.com:TGM-HIT/latex-projects.git
[submodule "typst-diploma-thesis"]
	path = typst-diploma-thesis
	url = git@github.com:TGM-HIT/typst-diploma-thesis.git
	branch = main
