[submodule "latex-protocol"]
	path = latex-protocol
	url = git@github.com:TGM-HIT/latex-protocol.git
[submodule "diploma-thesis"]
	path = diploma-thesis
	url = git@github.com:TGM-HIT/diploma-thesis.git
